body {
    background-color: WHEAT;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

a {
  text-decoration: none;
  color: #B23333;
}

h1, h2, h3  {
  margin: 0;
  padding: 10px;
}

#container {
    background-color: LIGHTGRAY;
    width: 1000px;
    margin-left: auto;
    margin-right:auto;
}

#header {
    background-color: CHOCOLATE;
    color: DARKSLATEGRAY;
    text-align: center;
    padding: 10px;
}

#content {
  padding: 10px;
}

#nav {
  background-color: #FDFEFE;
  width: 150px;
  float: left;
  padding: 20px;
}

#nav ul {
  color: #2C3E50; 
  list-style-type: none;
  padding: 0;
}


#nav .selected {
  font-weight: bold;
}

#main {
  width: 750px;
  float: right;

}

#student-group {
  clear: both;
  margin: 20px;
  border: 20px;
  padding: 10px;
  background-color: White ;
  color: BLACK;
  text-align: left;
}
#student-group a:link { 
color: #2471A3; 
}
#student-group a:visited { color: #2471A3; }
#student-group a:hover { color: #17202A; }
#student-group a:active { color: #17202A; }
#footer {
  clear: both;
  padding: 10px;
  background-color: #97a2a2;
  color: BLACK;
  text-align: right;
}
.schedule-date {
  font-weight: bold;
  color: RED;
  text-align: right;
  border: 3px solid BLACK;
}
.schedule-resources {
  font-weight: bold;
  color: #4D5656 ;
  text-align: left;
  border: 3px solid BLACK;
}
.center {
  display: inline-block;
  margin-left: 10px;
  margin-right: auto;
  width: 15%;
}
table, td, th {
  border: 1px solid black;
  text-align: center;
  padding: 10px
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  height: 50px;
}

