body {
    background-color: WHEAT;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

a {
  text-decoration: none;
  color: #B23333;
}

h1, h2, h3  {
  margin: 0;
  padding: 10px;
}

#container {
    background-color: LIGHTGRAY;
    width: 1000px;
    margin-left: auto;
    margin-right:auto;
}

#header {
    background-color: CHOCOLATE;
    color: DARKSLATEGRAY;
    text-align: center;
    padding: 10px;
}

#content {
  padding: 10px;
}

#nav {
  width: 150px;
  float: left;
  padding: 20px;
}

#nav ul {
  list-style-type: none;
  padding: 0;
}


#nav .selected {
  font-weight: bold;
}

#main {
  width: 750px;
  float: right;

}

#student-group {
  clear: both;
  margin: 20px;
  border: 20px;
  padding: 10px;
  background-color:  #d3d3d3;
  color: black;
  text-align: left;
}

#footer {
  clear: both;
  padding: 10px;
  background-color: #97a2a2;
  color: BLACK;
  text-align: right;
}
.schedule-date {
  font-weight: bold;
  color: BLACK;
  text-align: right;
}
.schedule-resources {
  font-weight: lighter;
  color: BLACK;
  text-align: left;
}
.center {
  display: inline-block;
  margin-left: 10px;
  margin-right: auto;
  width: 15%;
}
